{% extends 'account/index.html' %}

{% load static %}

{% block account_page_tabs %}

<div class="account-details">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="{% url 'account' %}">Profile Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'account-password-reset' %}">Change Password</a>
            </li>
            {% comment %} <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> {% endcomment %}
        </ul>
    </div>
    <div class="reset-password-tab">
        <div><h3>Change your password</h3></div>
            {% include 'partials/_messages.html' %}
         <div class="reset-password-form">
            <form action="{% url 'account-password-reset' %}" method="post">
                {% csrf_token %}
                    <div class="form-group col-4">
                        <input type="text" id="inputOldPassword" class="form-control" name="old_password" placeholder="Old Password" aria-describedby="passwordHelpBlock" >
                    </div>
                    <div class="form-group col-4">
                        <input type="text" id="inputNewPassword" class="form-control" name="new_password" placeholder="New Password" aria-describedby="passwordHelpBlock" >
                    </div>
                    <div class="form-group col-4">
                        <input type="text" id="inputConfirmNewPassword" class="form-control" name="confirm_new_password" placeholder="Confirm New Password" aria-describedby="passwordHelpBlock" >
                    </div>
                
                <input class="btn btn-primary" type="submit" value="Save"> 
            </form>
        </div> 
    </div>

{% endblock account_page_tabs %}

